terraform.tfstate.backup

**/.$*

**/*azurite
**/.vscode
**/.idea

**/*.iml
**/**-old
**/.DS_Store
**/dist
**/.env
**/.terraform
**/*.tfplan
**/.mvn
**/target
**/*.tfstate
**/deps.txt
**/*.hcl
iac/prev
